{% extends 'static/base.html' %}
{% block content %}

{% if post.image %}
<div class="cover-image" style="background-image: url(/{{post.image}})">
  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">
        {{ post.title }}
      </h1>
      <p class="blog-post-meta">by {{ post.author.get_full_name}}</p>
    </div>
  </div>
</div>
{% else %}

  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">
        {{ post.title }}
      </h1>
    </div>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <p>{{ post.body|safe }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
