{% extends 'static/base.html' %}
{% load static %}
{% block content %}

{% if page.image %}

<div class="cover-image" style="background-image: url(/{{page.image}})">
  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">
        {{ page.title }}
      </h1>
      <p class="blog-post-meta">{{ page.subtitle }}</p>
    </div>
  </div>
</div>
{% else %}
<div class="container">
    <div class="blog-header">
      <h1 class="blog-title">
        {{ page.title }}
      </h1>
      <p class="blog-post-meta">{{ page.subtitle }}</p>
    </div>
  </div>
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 blog-main">
        <div class="blog-post">
          <p>{{ page.body|safe }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
